@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using AddressCorrectionTool.Models
@using System.Text
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using AddressCorrectionTool.Controllers

@rendermode InteractiveServer

@attribute [Authorize]

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ResponseService ResponseService
@inject ILogger<AddressCorrection> Logger

@page "/address-correction"

<PageTitle>Address Correction</PageTitle>

<h3>Submit Address to be corrected</h3>

<EditForm Model="@addressToBeCorrected" FormName="addressForm" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group col-md-4">
        <label for="Number">Number</label>
        <InputText id="Number" class="form-control" @bind-Value="@addressToBeCorrected.Number" />
        <ValidationMessage For="@(() => addressToBeCorrected.Number)" />
    </div>

    <div class="form-group col-md-4">
        <label for="Street">Street</label>
        <InputText id="Street" class="form-control" @bind-Value="@addressToBeCorrected.Street" />
        <ValidationMessage For="@(() => addressToBeCorrected.Street)" />
    </div>

    <div class="form-group col-md-4">
        <label for="Unit">Unit</label>
        <InputText id="Unit" class="form-control" @bind-Value="@addressToBeCorrected.Unit" />
        <ValidationMessage For="@(() => addressToBeCorrected.Unit)" />
    </div>

    <div class="form-group col-md-4">
        <label for="City">City</label>
        <InputText id="City" class="form-control" @bind-Value="@addressToBeCorrected.City" />
        <ValidationMessage For="@(() => addressToBeCorrected.City)" />
    </div>

    <div class="form-group col-md-4">
        <label for="Postcode">Postcode</label>
        <InputNumber id="Postcode" class="form-control" @bind-Value="@addressToBeCorrected.Postcode" />
        <ValidationMessage For="@(() => addressToBeCorrected.Postcode)" />
    </div>

    <div class="form-group col-md-4">
        <label for="Region">Region</label>
        <select id="Region" class="form-control" @bind="@addressToBeCorrected.Region">
            <option value="NSW">NSW</option>
            <option value="VIC">VIC</option>
            <option value="QLD">QLD</option>
            <option value="WA">WA</option>
            <option value="SA">SA</option>
            <option value="TAS">TAS</option>
            <option value="ACT">ACT</option>
            <option value="NT">NT</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top:1em">Submit</button>
</EditForm>
<div>
    <div class="spinner-border" role="status" style="margin-top: 1em"></div> @if (isLoading)
    {
        <span class="sr-only">Loading...</span>
    }
</div>
@code {

    private InputAddress addressToBeCorrected = new Models.InputAddress();
    private bool isLoading = false;
    private string baseUrl = "https://localhost:7207";

    private async Task HandleValidSubmit()
    {
        // loading circle
        Console.WriteLine("Loading...");

        isLoading = true;

        string json = JsonSerializer.Serialize(addressToBeCorrected);

        var content = new StringContent(json, Encoding.UTF8, "application/json");

        var response = await Http.PostAsJsonAsync(baseUrl + "/InputAddresses", addressToBeCorrected);

        isLoading = false;

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            Console.WriteLine("Address corrected successfully");

            ResponseService.CorrectedAddress = await response.Content.ReadFromJsonAsync<InputAddress>();

            // print the corrected address
            if (ResponseService.CorrectedAddress == null)
            {
                Console.WriteLine("Error reading from json");
            }
            else if (ResponseService.CorrectedAddress.Result == 0)
                NavigationManager.NavigateTo("/failure");
            else
                NavigationManager.NavigateTo("/success");
        }
        else
        {
            Console.WriteLine(response.StatusCode);
            Console.WriteLine("Address correction failed");
            NavigationManager.NavigateTo("/failure");
        }
    }
}